// Colors - Primary
$color-blue: #3442B5;
$color-yellow: #F7CA11;
$color-purple: #271C47;
$color-purple-bright: #3019B2;

// Colors - Grays
$color-black: #000000;
$color-gray-medium: #9f9f9f;
$color-gray-dark: #3F3F40;
$color-gray-light: #f0f0f0;
$color-gray-lighter: #f4f4f4;
$color-gray-text: #4E4E4E;
$color-beige-light: #F6F5F2;
$color-white: #FFFFFF;

// Colors - Shadows
$color-shadow-dark: #3930131F;
$color-shadow-light: #00000021;

// Font
$font-default: "Poppins", sans-serif;
