// Colors
$color-blue: #3442B5;
$color-yellow: #F7CA11;
$color-purple: #271C47;
$color-gray-medium: #9f9f9f;
$color-gray-dark: #3F3F40;
$color-white: #FFFFFF;

// Font
$font-default: "Poppins", sans-serif;
